<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html >

<head>
  <%- include("../partials/headers") %>
    <!--ariel ws-->
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect();
      function setWs() {
        socket.on('newdata', function (msg) {
          var element = document.getElementById(msg.districtId);
          element.innerText = msg.value;
        })
      }
    </script>
    <!--ariel ws -->
</head>

<<<<<<< HEAD
  <body class="" onload="setWs()" style="background-color:rgb(223, 215, 215);">
=======
  <body class="" onload="setWs()" style="background-color:rgb(34, 34, 41);">
>>>>>>> 00f2dbec24844dca6b865351b818d491a83dc8bc
    <div class="wrapper ">
      <%- include("../partials/sidebar") %>
        <div class="main-panel">
            <div class="content">
<<<<<<< HEAD
              <h1 style= "color: rgb(73, 76, 78);">information about the packages <br> </h1>br> that has been sent</h1>
=======
              <center><h1 style= "color:  white;  font-family:Cambria  ">Information about the <br >  packages that has been sent</br>  </h1> </center>
>>>>>>> 00f2dbec24844dca6b865351b818d491a83dc8bc
              <div class="container-fluid">
                <div class="row">
                  <!--start-->
                  <% cards.forEach(function(card) { %>
                    <%- include("../partials/card",card) %>
                      <% }); %>
                        <!--end-->
                </div>
                <div class="row">
                  <%- include("../partials/graphs") %>
                
                 
                </div>
                
              </div>
            </div>
           
        </div>
    </div>
    <%- include("../partials/dashcode") %>  
    <script>
      window.setInterval('refresh()', 15000); 	
      // Refresh or reload page.
      function refresh() {
          window .location.reload();
      }
  </script>
  </body>

</html>